aos_board_conf.mk
*.so
*.exe
.settings/
*.cproject
*.project
*.o
*.d
*.lo
*.gcno
*.gcda
/INSTALL
cscope.*
*.swp
*.swo
ltmain.sh
*.kv
*.bak
/Default/
.O/
.config
output/
ota.bin
src/packages/*.git/hooks/*.sample
vs_build/
.vs/
doc/html/
compile.log
CMakeLists.txt.user
qt_build/
.vscode/
GPATH
GRTAGS
GTAGS
iotx-sdk-c-test/

sdk-c/examples/coapapp
sdk-c/examples/linkkit_gateway
sdk-c/examples/linkkit_newapi
sdk-c/examples/linkkitapp
sdk-c/examples/mqttapp
