release/write_flash_gui/log
release/write_flash_gui/ota_bin/*
release/write_flash_gui/programmer2001.bin
release/release_bin/*
release/write_flash_gui/productline_cfg.xml
release/write_flash_gui/ota_bin/
release/write_flash_tool/ota_bin/
release/write_flash_tool/tools/programmer2001.bin
prebuild/littlefs.bin
aos/dsp/haas1000_a7*