# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
expat/win32/bin/
expat/win32/tmp/
expat/.vs/
expat/**/*.vcxproj.user
expat/**/*.suo
expat/**/*.sdf
expat/**/*.VC.db
expat/tests/**/Debug/
expat/tests/**/Release/
