.container{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo{
    width: 100px;
}
.welcome{
    font-size: 60px;
    font-weight: 100;
    color: #777;
    margin: 20px 0 0 0;
}