trace_test
activate
out
*.out
*.db
*tag*
.gdbinit
.gdbinitkernel
.gdbinitframework
.gdbinitapp
.openocd_cfg
copy_bootloader_output_for_eclipse
copy_output_for_eclipse
*.sw*
build/compiler
build/OpenOCD
si
.cproject
.project
*.pyc
aos_partition_*.bin
OSX
example/flash/flash.mk
example/flash/main.c
example/flash/README.md
settings.json
build/cmd/win32/Python27/Lib/encodings/*.pyc
*.d
build/scripts/config_mk.py
build/scripts/*.pyc
tmp
$Recycle.Bin
.sconsign.dblite
