recursive-include examples *.c *.h *.py
recursive-include tests *.c *.h *.py
recursive-include pycparser *.py *.cfg
recursive-include utils/fake_libc_include *.h
include README.*
include LICENSE
include CHANGES
include setup.*
exclude setup.pyc

recursive-exclude tests yacctab.* lextab.*
recursive-exclude examples yacctab.* lextab.*
