[    
    {
        "name": "hash - gcc_x86_32",
        "main": "test_hash",
        "include": "tis-ci/gcc_x86_32.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "hash - gcc_x86_64",
        "main": "test_hash",
        "include": "tis-ci/gcc_x86_64.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "hash - gcc_ppc_32",
        "main": "test_hash",
        "include": "tis-ci/gcc_ppc_32.config",
        "include": "tis-ci/common.config"
 
    },
    {
        "name": "hash - gcc_ppc_64",
        "main": "test_hash",
        "include": "tis-ci/gcc_ppc_64.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "kdf - gcc_x86_32",
        "main": "test_kdf",
        "include": "tis-ci/gcc_x86_32.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "kdf - gcc_x86_64",
        "main": "test_kdf",
        "include": "tis-ci/gcc_x86_64.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "kdf - gcc_ppc_32",
        "main": "test_kdf",
        "include": "tis-ci/gcc_ppc_32.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "kdf - gcc_ppc_64",
        "main": "test_kdf",
        "include": "tis-ci/gcc_ppc_64.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "pwhash - gcc_x86_32",
        "main": "test_pwhash",
        "include": "tis-ci/gcc_x86_32.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "pwhash - gcc_x86_64",
        "main": "test_pwhash",
        "include": "tis-ci/gcc_x86_64.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "pwhash - gcc_ppc_32",
        "main": "test_pwhash",
        "include": "tis-ci/gcc_ppc_32.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "pwhash - gcc_ppc_64",
        "main": "test_pwhash",
        "include": "tis-ci/gcc_ppc_64.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "secretbox - gcc_x86_32",
        "main": "test_secretbox",
        "include": "tis-ci/gcc_x86_32.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "secretbox - gcc_x86_64",
        "main": "test_secretbox",
        "include": "tis-ci/gcc_x86_64.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "secretbox - gcc_ppc_32",
        "main": "test_secretbox",
        "include": "tis-ci/gcc_ppc_32.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "secretbox - gcc_ppc_64",
        "main": "test_secretbox",
        "include": "tis-ci/gcc_ppc_64.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "sign - gcc_x86_32",
        "main": "test_sign",
        "include": "tis-ci/gcc_x86_32.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "sign - gcc_x86_64",
        "main": "test_sign",
        "include": "tis-ci/gcc_x86_64.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "sign - gcc_ppc_32",
        "main": "test_sign",
        "include": "tis-ci/gcc_ppc_32.config",
        "include": "tis-ci/common.config"
    },
    {
        "name": "sign - gcc_ppc_64",
        "main": "test_sign",
        "include": "tis-ci/gcc_ppc_64.config",
        "include": "tis-ci/common.config"
    }
]
