*.[oa]
*.lo
*.la
*.gcno
*.gcov
*.gcda
.deps/
.libs/
autom4te.cache/
m4/
CMakeLists.txt.user
CMakeCache.txt
CTestTestfile.cmake
CMakeFiles/
cmake_install.cmake
Makefile.in
README
build
config.log
configure
config.status
config.h.in
aclocal.m4
libtool
stamp-h1
qrencode
qrencode.1
libqrencode.pc
tests/create_frame_pattern
tests/create_mqr_frame_pattern
tests/pthread_qrencode
tests/prof_qrencode
tests/test_bitstream
tests/test_estimatebit
tests/test_mask
tests/test_mmask
tests/test_monkey
tests/test_mqrspec
tests/test_qrencode
tests/test_qrinput
tests/test_qrspec
tests/test_rs
tests/test_split
tests/test_split_urls
tests/view_qrcode
use/compile
use/config.guess
use/config.sub
use/depcomp
use/install-sh
use/ltmain.sh
use/missing
html/
massif.out.*
gmon.out
