*.so
*.exe
.settings/
*.cproject
*.project
*.o
*.d
*.lo
*.gcno
*.gcda
/INSTALL
cscope.*
*.swp
*.swo
ltmain.sh
*.kv
*.bak
/Default/
sample/deviceshadow/deviceshadow
sample/mqtt/mqtt
.O/
.config
output/
ota.bin
src/packages/*.git/hooks/*.sample
src/tls/mbedtls-in-iotkit
src/log/LITE-log
vs_build/
.vs/
doc/html/
compile.log
src/system/iotkit-system
src/cmp/Link-CMP
CMakeLists.txt.user
qt_build/
src/packages/LITE-log/
src/packages/Link-CMP/
src/packages/iotkit-system/
src/packages/mbedtls-in-iotkit/
src/framework/cm/Link-CMP
src/utils/log/LITE-log
.*
