{
    "APP_BUILD_BOOTLOADER": true,
    "APP_BUILD_GENERATE_BINARIES": true,
    "APP_BUILD_TYPE_APP_2NDBOOT": true,
    "APP_BUILD_TYPE_ELF_RAM": false,
    "APP_BUILD_USE_FLASH_SECTIONS": true,
    "BOOTLOADER_APP_ROLLBACK_ENABLE": false,
    "BOOTLOADER_APP_TEST": false,
    "BOOTLOADER_COMPILER_OPTIMIZATION_DEBUG": false,
    "BOOTLOADER_COMPILER_OPTIMIZATION_NONE": false,
    "BOOTLOADER_COMPILER_OPTIMIZATION_PERF": false,
    "BOOTLOADER_COMPILER_OPTIMIZATION_SIZE": true,
    "BOOTLOADER_CUSTOM_RESERVE_RTC": false,
    "BOOTLOADER_FACTORY_RESET": false,
    "BOOTLOADER_LOG_LEVEL": 2,
    "BOOTLOADER_LOG_LEVEL_DEBUG": false,
    "BOOTLOADER_LOG_LEVEL_ERROR": false,
    "BOOTLOADER_LOG_LEVEL_INFO": false,
    "BOOTLOADER_LOG_LEVEL_NONE": false,
    "BOOTLOADER_LOG_LEVEL_VERBOSE": false,
    "BOOTLOADER_LOG_LEVEL_WARN": true,
    "BOOTLOADER_RESERVE_RTC_SIZE": 0,
    "BOOTLOADER_SKIP_VALIDATE_IN_DEEP_SLEEP": false,
    "BOOTLOADER_VDDSDIO_BOOST_1_8V": false,
    "BOOTLOADER_VDDSDIO_BOOST_1_9V": true,
    "BOOTLOADER_WDT_DISABLE_IN_USER_CODE": false,
    "BOOTLOADER_WDT_ENABLE": true,
    "BOOTLOADER_WDT_TIME_MS": 120000,
    "COMPILER_CXX_EXCEPTIONS": false,
    "COMPILER_CXX_RTTI": false,
    "COMPILER_DISABLE_GCC8_WARNINGS": false,
    "COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE": false,
    "COMPILER_OPTIMIZATION_ASSERTIONS_ENABLE": true,
    "COMPILER_OPTIMIZATION_ASSERTIONS_SILENT": false,
    "COMPILER_OPTIMIZATION_DEFAULT": false,
    "COMPILER_OPTIMIZATION_NONE": false,
    "COMPILER_OPTIMIZATION_PERF": false,
    "COMPILER_OPTIMIZATION_SIZE": true,
    "COMPILER_STACK_CHECK_MODE_ALL": false,
    "COMPILER_STACK_CHECK_MODE_NONE": true,
    "COMPILER_STACK_CHECK_MODE_NORM": false,
    "COMPILER_STACK_CHECK_MODE_STRONG": false,
    "COMPILER_WARN_WRITE_STRINGS": false,
    "EFUSE_CODE_SCHEME_COMPAT_3_4": true,
    "EFUSE_CODE_SCHEME_COMPAT_NONE": false,
    "EFUSE_CODE_SCHEME_COMPAT_REPEAT": false,
    "EFUSE_CUSTOM_TABLE": false,
    "EFUSE_MAX_BLK_LEN": 192,
    "EFUSE_VIRTUAL": false,
    "ESP32_BROWNOUT_DET": true,
    "ESP32_BROWNOUT_DET_LVL": 0,
    "ESP32_BROWNOUT_DET_LVL_SEL_0": true,
    "ESP32_BROWNOUT_DET_LVL_SEL_1": false,
    "ESP32_BROWNOUT_DET_LVL_SEL_2": false,
    "ESP32_BROWNOUT_DET_LVL_SEL_3": false,
    "ESP32_BROWNOUT_DET_LVL_SEL_4": false,
    "ESP32_BROWNOUT_DET_LVL_SEL_5": false,
    "ESP32_BROWNOUT_DET_LVL_SEL_6": false,
    "ESP32_BROWNOUT_DET_LVL_SEL_7": false,
    "ESP32_COMPATIBLE_PRE_V2_1_BOOTLOADERS": false,
    "ESP32_DEBUG_OCDAWARE": true,
    "ESP32_DEEP_SLEEP_WAKEUP_DELAY": 2000,
    "ESP32_DEFAULT_CPU_FREQ_160": true,
    "ESP32_DEFAULT_CPU_FREQ_240": false,
    "ESP32_DEFAULT_CPU_FREQ_80": false,
    "ESP32_DEFAULT_CPU_FREQ_MHZ": 160,
    "ESP32_DISABLE_BASIC_ROM_CONSOLE": false,
    "ESP32_DPORT_DIS_INTERRUPT_LVL": 5,
    "ESP32_DPORT_WORKAROUND": true,
    "ESP32_NO_BLOBS": false,
    "ESP32_REDUCE_PHY_TX_POWER": true,
    "ESP32_REV_MIN": 0,
    "ESP32_REV_MIN_0": true,
    "ESP32_REV_MIN_1": false,
    "ESP32_REV_MIN_2": false,
    "ESP32_REV_MIN_3": false,
    "ESP32_RTC_CLK_CAL_CYCLES": 1024,
    "ESP32_RTC_CLK_SRC_EXT_CRYS": false,
    "ESP32_RTC_CLK_SRC_EXT_OSC": false,
    "ESP32_RTC_CLK_SRC_INT_8MD256": false,
    "ESP32_RTC_CLK_SRC_INT_RC": true,
    "ESP32_SPIRAM_SUPPORT": false,
    "ESP32_TIME_SYSCALL_USE_FRC1": false,
    "ESP32_TIME_SYSCALL_USE_NONE": false,
    "ESP32_TIME_SYSCALL_USE_RTC": false,
    "ESP32_TIME_SYSCALL_USE_RTC_FRC1": true,
    "ESP32_TRACEMEM_RESERVE_DRAM": 0,
    "ESP32_TRAX": false,
    "ESP32_ULP_COPROC_ENABLED": true,
    "ESP32_ULP_COPROC_RESERVE_MEM": 512,
    "ESP32_UNIVERSAL_MAC_ADDRESSES": 4,
    "ESP32_UNIVERSAL_MAC_ADDRESSES_FOUR": true,
    "ESP32_UNIVERSAL_MAC_ADDRESSES_TWO": false,
    "ESP32_USE_FIXED_STATIC_RAM_SIZE": false,
    "ESP32_XTAL_FREQ": 0,
    "ESP32_XTAL_FREQ_26": false,
    "ESP32_XTAL_FREQ_40": false,
    "ESP32_XTAL_FREQ_AUTO": true,
    "ESPTOOLPY_AFTER": "hard_reset",
    "ESPTOOLPY_AFTER_NORESET": false,
    "ESPTOOLPY_AFTER_RESET": true,
    "ESPTOOLPY_BAUD_OTHER_VAL": 115200,
    "ESPTOOLPY_BEFORE": "default_reset",
    "ESPTOOLPY_BEFORE_NORESET": false,
    "ESPTOOLPY_BEFORE_RESET": true,
    "ESPTOOLPY_FLASHFREQ": "40m",
    "ESPTOOLPY_FLASHFREQ_20M": false,
    "ESPTOOLPY_FLASHFREQ_26M": false,
    "ESPTOOLPY_FLASHFREQ_40M": true,
    "ESPTOOLPY_FLASHFREQ_80M": false,
    "ESPTOOLPY_FLASHMODE": "dio",
    "ESPTOOLPY_FLASHMODE_DIO": true,
    "ESPTOOLPY_FLASHMODE_DOUT": false,
    "ESPTOOLPY_FLASHMODE_QIO": false,
    "ESPTOOLPY_FLASHMODE_QOUT": false,
    "ESPTOOLPY_FLASHSIZE": "4MB",
    "ESPTOOLPY_FLASHSIZE_16MB": false,
    "ESPTOOLPY_FLASHSIZE_1MB": false,
    "ESPTOOLPY_FLASHSIZE_2MB": false,
    "ESPTOOLPY_FLASHSIZE_4MB": true,
    "ESPTOOLPY_FLASHSIZE_8MB": false,
    "ESPTOOLPY_FLASHSIZE_DETECT": true,
    "ESPTOOLPY_MONITOR_BAUD": 115200,
    "ESPTOOLPY_MONITOR_BAUD_115200B": true,
    "ESPTOOLPY_MONITOR_BAUD_230400B": false,
    "ESPTOOLPY_MONITOR_BAUD_2MB": false,
    "ESPTOOLPY_MONITOR_BAUD_57600B": false,
    "ESPTOOLPY_MONITOR_BAUD_921600B": false,
    "ESPTOOLPY_MONITOR_BAUD_9600B": false,
    "ESPTOOLPY_MONITOR_BAUD_OTHER": false,
    "ESPTOOLPY_MONITOR_BAUD_OTHER_VAL": 115200,
    "ESPTOOLPY_WITH_STUB": true,
    "ESP_CONSOLE_UART_BAUDRATE": 115200,
    "ESP_CONSOLE_UART_CUSTOM": false,
    "ESP_CONSOLE_UART_DEFAULT": true,
    "ESP_CONSOLE_UART_NONE": false,
    "ESP_CONSOLE_UART_NUM": 0,
    "ESP_CONSOLE_UART_RX_GPIO": 3,
    "ESP_CONSOLE_UART_TX_GPIO": 1,
    "ESP_ERR_TO_NAME_LOOKUP": true,
    "ESP_INT_WDT": true,
    "ESP_INT_WDT_CHECK_CPU1": true,
    "ESP_INT_WDT_TIMEOUT_MS": 300,
    "ESP_IPC_TASK_STACK_SIZE": 1024,
    "ESP_IPC_USES_CALLERS_PRIORITY": true,
    "ESP_MAC_ADDR_UNIVERSE_BT": true,
    "ESP_MAC_ADDR_UNIVERSE_BT_OFFSET": 2,
    "ESP_MAC_ADDR_UNIVERSE_ETH": true,
    "ESP_MAC_ADDR_UNIVERSE_WIFI_AP": true,
    "ESP_MAC_ADDR_UNIVERSE_WIFI_STA": true,
    "ESP_MAIN_TASK_STACK_SIZE": 3584,
    "ESP_MINIMAL_SHARED_STACK_SIZE": 2048,
    "ESP_PANIC_HANDLER_IRAM": false,
    "ESP_SYSTEM_EVENT_QUEUE_SIZE": 32,
    "ESP_SYSTEM_EVENT_TASK_STACK_SIZE": 2304,
    "ESP_TASK_WDT": true,
    "ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0": false,
    "ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1": true,
    "ESP_TASK_WDT_PANIC": false,
    "ESP_TASK_WDT_TIMEOUT_S": 5,
    "IDF_CMAKE": true,
    "IDF_FIRMWARE_CHIP_ID": 0,
    "IDF_TARGET": "esp32",
    "IDF_TARGET_ESP32": true,
    "LEGACY_INCLUDE_COMMON_HEADERS": false,
    "LOG_COLORS": true,
    "LOG_DEFAULT_LEVEL": 1,
    "LOG_DEFAULT_LEVEL_DEBUG": false,
    "LOG_DEFAULT_LEVEL_ERROR": true,
    "LOG_DEFAULT_LEVEL_INFO": false,
    "LOG_DEFAULT_LEVEL_NONE": false,
    "LOG_DEFAULT_LEVEL_VERBOSE": false,
    "LOG_DEFAULT_LEVEL_WARN": false,
    "LOG_TIMESTAMP_SOURCE_RTOS": true,
    "LOG_TIMESTAMP_SOURCE_SYSTEM": false,
    "PARTITION_TABLE_CUSTOM": true,
    "PARTITION_TABLE_CUSTOM_FILENAME": "partitions.csv",
    "PARTITION_TABLE_FILENAME": "partitions.csv",
    "PARTITION_TABLE_MD5": true,
    "PARTITION_TABLE_OFFSET": 86016,
    "PARTITION_TABLE_SINGLE_APP": false,
    "PARTITION_TABLE_TWO_OTA": false,
    "PM_DFS_INIT_AUTO": false,
    "PM_ENABLE": true,
    "PM_PROFILING": false,
    "PM_TRACE": false,
    "SDK_TOOLCHAIN_SUPPORTS_TIME_WIDE_64_BITS": false,
    "SDK_TOOLPREFIX": "xtensa-esp32-elf-",
    "SECURE_BOOT": false,
    "SECURE_FLASH_ENC_ENABLED": false,
    "SECURE_SIGNED_APPS_NO_SECURE_BOOT": false,
    "SPI_FLASH_BYPASS_BLOCK_ERASE": false,
    "SPI_FLASH_DANGEROUS_WRITE_ABORTS": true,
    "SPI_FLASH_DANGEROUS_WRITE_ALLOWED": false,
    "SPI_FLASH_DANGEROUS_WRITE_FAILS": false,
    "SPI_FLASH_ENABLE_COUNTERS": false,
    "SPI_FLASH_ERASE_YIELD_DURATION_MS": 20,
    "SPI_FLASH_ERASE_YIELD_TICKS": 1,
    "SPI_FLASH_ROM_DRIVER_PATCH": true,
    "SPI_FLASH_SHARE_SPI1_BUS": false,
    "SPI_FLASH_SUPPORT_GD_CHIP": true,
    "SPI_FLASH_SUPPORT_ISSI_CHIP": true,
    "SPI_FLASH_SUPPORT_MXIC_CHIP": true,
    "SPI_FLASH_USE_LEGACY_IMPL": false,
    "SPI_FLASH_VERIFY_WRITE": false,
    "SPI_FLASH_YIELD_DURING_ERASE": true
}