<?xml version="1.0" encoding="utf-8"?>

<page>
  <image id="image" src="background1"> </image>
  <container id="topBar" layout="off" fit="none" >
	  <text id="shop" class="textClass" value="滨江水果店" > </text>
	  <icon id="signal" class="iconClass"  symbol="wifi">  </icon>
	  <text id="time" class="textClass" > 13:26 </text>
	  <text id="batteryValue" class="textClass"  > 100% </text>
	  <icon id="battery" class="iconClass"  symbol="battery_4">  </icon>
  </container>
  <container id="collect_cont1" layout="off" fit="none" > 
	  <text id="collect_text3" class="textClass" value="支付成功" > </text>
	  <text id="collect_text4" class="textClass" value="￥240" > </text>
	  <image id="collected_image" src="collected" > </image>
  </container>  

</page>

