# HIDAPI/libusb
# ATMEL
SUBSYSTEM=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2312", MODE="0666", ACTION=="add"

# Microchip
SUBSYSTEM=="usb", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="0f30", MODE="0666", ACTION=="add"
SUBSYSTEM=="usb", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="0f31", MODE="0666", ACTION=="add"
SUBSYSTEM=="usb", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="0f32", MODE="0666", ACTION=="add"
SUBSYSTEM=="usb", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="0f33", MODE="0666", ACTION=="add"

# HIDAPI/hidraw
# ATMEL
KERNEL=="hidraw*", ATTRS{busnum}=="1", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2312", MODE="0666", GROUP="plugdev"

# Microchip
KERNEL=="hidraw*", ATTRS{busnum}=="1", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="0f30", MODE="0666", GROUP="plugdev"
KERNEL=="hidraw*", ATTRS{busnum}=="1", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="0f31", MODE="0666", GROUP="plugdev"
KERNEL=="hidraw*", ATTRS{busnum}=="1", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="0f32", MODE="0666", GROUP="plugdev"
KERNEL=="hidraw*", ATTRS{busnum}=="1", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="0f33", MODE="0666", GROUP="plugdev"
