menu "ADF Features"

    config ESP_DISPATCHER_DELEGATE_TASK_CORE
        int "Delegation task core"
        range 0 1
        default 0
        help
            Pinned delegate task to core 0 or core 1.

    config ESP_DISPATCHER_DELEGATE_TASK_PRIO
        int "Delegate task's prio"
        range 1 20
        default 10
        help
            The delegate task's prio.

    config ESP_DISPATCHER_DELEGATE_STACK_SIZE
        int "Delegate task's stack size"
        range 1024 10240
        default 4096
        help
            The delegate task's stack is located in DRAM, modify this size to make sure all the needed operation can be run success in the it.

endmenu
