# 16 MB flash

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-16MiB-priv.csv"

CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
CONFIG_BOOTLOADER_WDT_TIME_MS=120000
CONFIG_FATFS_LFN_HEAP=y

CONFIG_PARTITION_TABLE_OFFSET=0x15000

# Memory configuration
#CONFIG_SPIRAM_TYPE_ESPPSRAM64=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=256
#CONFIG_SPIRAM_USE_CAPS_ALLOC=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y

CONFIG_ESP_DISPATCHER_DELEGATE_TASK_CORE=0
CONFIG_ESP_DISPATCHER_DELEGATE_TASK_PRIO=10
CONFIG_ESP_DISPATCHER_DELEGATE_STACK_SIZE=4096

CONFIG_HEAP_POISONING_LIGHT=y
CONFIG_HEAP_TRACING_OFF=y
CONFIG_HEAP_TASK_TRACKING=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y
CONFIG_HEAP_ABORT_WHEN_ALLOCATION_FAILS=y

# Memory optimization, based on following URL:
# https://blog.csdn.net/espressif/article/details/115469094
#
# 启用 TLS 非对称 IN/OUT 内容长度
CONFIG_MBEDTLS_ASYMMETRIC_CONTENT_LEN=y
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN = 2048

# 允许对 mbedTLS 使用动态缓冲策略
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_DYNAMIC_FREE_PEER_CERT=y
CONFIG_MBEDTLS_DYNAMIC_FREE_CONFIG_DATA=y

# 配置MBEDTLS 使用外部内存
CONFIG_MBEDTLS_EXTERNAL_MEM_ALLOC=y
