
.textClass {
  align: inTopLeft;
}

.buttonClass {
  width: 100px;
  height: 50px;
  top: 150px;
  left: 100px;
  background-color: #43cd80;
  gradient-color: #43cd80;
  border-radius: 5px;
}

#shop {
  top: 5px;
  left: 5px;
  font-color: #ffffff;
  font-size: 22px;
  z-index: 3;
}

#time {
  top: 5px;
  left: 160px;
  font-color: #ffffff;
  font-size: 22px;
  z-index: 3;
}

#batteryValue {
  top: 5px;
  left: 260px;
  font-color: #ffffff;
  font-size: 22px;
  z-index: 3;
}

#payText {
  top: 100px;
  left: 80px;
  width: 10px;
  font-color: #000000;
  text-align: center;
  font-size: 22px;
  z-index: 3;
}

#payValue {
  top: 120px;
  left: 80px;
  width: 10px;
  font-size: 22px;
  font-color: #000000;
  text-align: center;
  z-index: 3;
}
.iconClass {
  top: 5px;
  font-color: #ffffff;
  font-size: 22px;
  z-index: 3;
}

#signal {
  top: 5px;
  left: 130px;
  font-color: #ffffff;
}
#battery {
  top: 5px;
  left: 230px;
  font-color: #ffffff;
}

#topBar {
  width: 320px;
  height: 30px;
  top: 0px;
  left: 0px;
  background-color: #000000;
  gradient-color: #000000;
}

#itemTextName1 {
  height: 40px;
  width: 140px;
  top: 0px;
  left: 0px;
  align: inLeftMid;
  text-align: left;
}

#itemTextValue1 {
  height: 40px;
  width: 140px;
  top: 0px;
  left: 0px;
  align: inRightMid;
  text-align: right;
}

#itemTextName2 {
  height: 40px;
  width: 140px;
  top: 0px;
  left: 0px;
  align: inLeftMid;
  text-align: left;
}


#itemTextValue2 {
  height: 40px;
  width: 140px;
  top: 0px;
  left: 0px;
  align: inRightMid;
  text-align: right;
}

#itemTextName3 {
  height: 40px;
  width: 140px;
  top: 0px;
  left: 0px;
  align: inLeftMid;
  text-align: left;
}


#itemTextValue3 {
  height: 40px;
  width: 140px;
  top: 0px;
  left: 0px;
  align: inRightMid;
  text-align: right;
}

#itemTextName4 {
  height: 40px;
  width: 140px;
  top: 0px;
  left: 0px;
  align: inLeftMid;
  text-align: left;
}

#itemTextValue4 {
  height: 40px;
  width: 140px;
  top: 0px;
  left: 0px;
  align: inRightMid;
  text-align: right;
}

#makesure {
  height: 40px;
  width: 300px;
  top: 0px;
  left: 0px;
  align: inLeftMid;
  text-align: center;
}

#list1 {
  height: 200px;
  width: 300px;
  top: 0px;
  left: 0px;
  background-color: #000000;
  gradient-color: #000000;  
  border-radius: 10px;
}

#collect_cont1 {
  width: 300px;
  height: 200px;
  top: 30px;
  left: 10px;
  background-color: #ffffff;
  gradient-color: #ffffff;
  opacity: 1;
  font-color: #dc143c;
  border-radius: 10px;
  padding-ver:5px;
  padding-hor:5px;
  z-index: 3;
}
