/csi
out
.vscode
.gdbinit
!**/script/gdbinit
yoc.asm
yoc.bin
yoc.elf
yoc.map
yoc.smap
yoc.s
boot.asm
boot.bin
boot.elf
boot.map
boot.smap
solutions/**/*.elf
!CH2201_eFlash_CDK.elf
**/.cdk
**/Obj
**/Lst
solutions/**/Packages
solutions/**/Boards
solutions/**/Chips
*.bat
bootloader/bin/
modules/security/tee_ca/bin
bootloader/libs/libcsi.a
bootloader/include/config.h
bootloader/**/generated/
bootloader/**/cdk/bootloader.mk
bootloader/**/cdk/bootloader.txt
examples/**/generated/
applications/**/generated/
tests/**/generated/
**/defconfig
defconfig.all
generated/imgs.zip
.DS_Store
id_rsa
id_rsa.pub
Thumbs.db
db.json
*.log
/docs/node_modules
/docs/public
/docs/*.log
/docs/db.json
/docs/.deploy_gig
.idea
**/image_mtb
**/*.zip
**/prim
**/all.bin
**/*.pyc
yoc_sdk
**/generated
**/mtrace.output
applications/at_demo/at_log
utility/baidu-proxy/sample/asr/main
**/*.o
**/*.d
**/*.dblite
./build
node_modules
tools/build
tools/dist
**/*.egg-info
**/*.swp
solutions_cb2201/**/Boards
solutions_cb2201/**/Chips
solutions_cb2201/**/Packages
solutions_cb2201/*/*.mk
solutions_cb2201/*/*.txt
solutions_cb2201/Makefile
solutions_cb5654/**/Boards
solutions_cb5654/**/Chips
solutions_cb5654/**/Packages
solutions_cb5654/*/*.mk
solutions_cb5654/*/*.txt
solutions_cb5654/Makefile
.components.db
