menu "Audio HAL"

choice AUDIO_BOARD
    prompt "Audio board"
    default ESP_LYRAT_V4_3_BOARD
    help
        Select an audio board to use with the ESP-ADF
config AUDIO_BOARD_CUSTOM
    bool "Custom audio board"
config ESP_LYRAT_V4_3_BOARD
    bool "ESP32-Lyrat V4.3"
config ESP_LYRAT_V4_2_BOARD
    bool "ESP32-Lyrat V4.2"
config ESP_LYRATD_MSC_V2_1_BOARD
    bool "ESP32-LyraTD-MSC V2.1"
config ESP_LYRATD_MSC_V2_2_BOARD
    bool "ESP32-LyraTD-MSC V2.2"
config ESP_LYRAT_MINI_V1_1_BOARD
    bool "ESP32-Lyrat-Mini V1.1"
config ESP32_KORVO_DU1906_BOARD
    bool "ESP32_KORVO_DU1906"
config ESP32_S2_KALUGA_1_V1_2_BOARD
    bool "ESP32-S2-Kaluga-1 v1.2"
config ESP32_S3_KORVO2_V3_BOARD
    bool "ESP32-S3-Korvo-2 v3.0"

endchoice

choice ESP32_KORVO_DU1906_DAC
    prompt "ESP32 KORVO DU1906 Board DAC chip"
    depends on ESP32_KORVO_DU1906_BOARD
    default ESP32_KORVO_DU1906_DAC_TAS5805M
    help
        Select DAC chip to use on ESP32_KORVO_DU1906 board

config ESP32_KORVO_DU1906_DAC_TAS5805M
    bool "ESP32_KORVO_DU1906_DAC_TAS5805M"
config ESP32_KORVO_DU1906_DAC_ES7148
    bool "ESP32_KORVO_DU1906_DAC_ES7148"

endchoice

choice ESP32_KORVO_DU1906_ADC
    prompt "ESP32 KORVO DU1906 Board ADC chip"
    depends on ESP32_KORVO_DU1906_BOARD
    default ESP32_KORVO_DU1906_ADC_ES7243
    help
        Select ADC chip to use on ESP32_KORVO_DU1906 board

config ESP32_KORVO_DU1906_ADC_ES7243
    bool "ESP32_KORVO_DU1906_ADC_ES7243"
endchoice

endmenu

