
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
CONFIG_PARTITION_TABLE_OFFSET=0x15000
CONFIG_BOOTLOADER_WDT_TIME_MS=120000
CONFIG_FATFS_LFN_HEAP=y
CONFIG_ESP32_IRAM_AS_8BIT_ACCESSIBLE_MEMORY=y
CONFIG_FREERTOS_UNICORE=y
CONFIG_HEAP_POISONING_LIGHT=y
CONFIG_HEAP_TRACING_OFF=y
CONFIG_HEAP_TASK_TRACKING=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y
CONFIG_HEAP_ABORT_WHEN_ALLOCATION_FAILS=y
CONFIG_MBEDTLS_IRAM_8BIT_MEM_ALLOC=y
CONFIG_ESP32_WIFI_STATIC_RX_BUFFER_NUM=8
CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM=8
CONFIG_ESP32_WIFI_DYNAMIC_TX_BUFFER_NUM=8
CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
