

.textClass {
  align: inTopLeft;
}
.itemAddText {
  align: inTopMid;
}
.buttonClass {
  width: 100px;
  height: 50px;
  top: 150px;
  left: 100px;
  background-color: #43cd80;
  gradient-color: #43cd80;
  border-radius: 5px;
}

#shop {
  top: 5px;
  left: 5px;
  font-color: #ffffff;
  font-size: 22px;
  z-index: 3;
}

#time {
  top: 5px;
  left: 160px;
  font-color: #ffffff;
  font-size: 22px;
  z-index: 3;
}
#batteryValue {
  top: 5px;
  left: 260px;
  font-color: #ffffff;
  font-size: 22px;
  z-index: 3;
}
#payText {
  top: 100px;
  left: 80px;
  width: 10px;
  font-color: #000000;
  text-align: center;
  font-size: 22px;
  z-index: 3;
}

#payValue {
  top: 120px;
  left: 80px;
  width: 10px;
  font-size: 22px;
  font-color: #000000;
  text-align: center;
  z-index: 3;
}
.iconClass {
  top: 5px;
  font-color: #ffffff;
  font-size: 22px;
  z-index: 3;
}

#signal {
  top: 5px;
  left: 130px;
  font-color: #ffffff;
}
#battery {
  top: 5px;
  left: 230px;
  font-color: #ffffff;
}

#pay {
  top: 0px;
  left: 0px;
  width: 320px;
  font-size: 28px;
  font-color: #4169E1;
  text-align: center;
}

#buttonBackGround {
  width: 280px;
  height: 180px;
  top: 40px;
  left: 20px;
  background-color: #ffffff;
  gradient-color: #ffffff;
  opacity: 1;
  font-color: #dc143c;
  border-radius: 20px;
  z-index: 3;
}

#topBar {
  width: 320px;
  height: 30px;
  top: 0px;
  left: 0px;
  background-color: #000000;
  gradient-color: #000000;
}

#upay {
  top: -30px;
  left: 80px;
  font-color: #4169E1;
}

#auto_add_item {
  width: 300px;
  height: 165px;
  top: 30px;
  left: 10px;
  background-color: #1d1c1c;
  gradient-color: #1d1c1c;
  opacity: 1;
  font-color: #dc143c;
  border-radius: 10px;
  z-index: 3;
}

#auto_add_item1 {
  width: 300px;
  height: 135px;
  top: 60px;
  left: 10px;
  background-color: #ffffff;
  gradient-color: #ffffff;
  opacity: 1;
  font-color: #dc143c;
  border-radius: 10px;
  z-index: 3;
}


#auto_add_text4 {
  top: 15px;
  left: 0px;
  width: 300px;
  font-color: #000000;
  text-align: center;
  font-size: 22px;
  z-index: 3;
}

#auto_add_text5 {
  top: 60px;
  left: 0px;
  width: 300px;
  font-size: 28px;
  text-align: center;
  font-color: #0000ff;
  z-index: 3;
}

#confirm {
  top: 210px;
  left: 60px;
  width: 200px;
  font-size: 22px;
  font-color: #777575;
  text-align: center;
  z-index: 3;
}
